anants-first-custom-policy/src/main/app/anants-first-custom-policy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/api" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="SkyBiometric_HTTP_Request_Configuration" host="api.skybiometry.com" port="80" basePath="/fc" doc:name="HTTP Request Configuration"/>
    <objectstore:config name="ObjectStore_Connector" partition="custom" entryTtl="180000" expirationInterval="30000" maxEntries="1000" doc:name="ObjectStore: Connector"/>   
    <flow name="anants-first-custom-policyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <enricher target="#[variable:opID]" doc:name="Message Enricher" source="#[payload]">
            <processor-chain doc:name="Processor Chain">
            <objectstore:contains config-ref="ObjectStore_Connector" key="opID" doc:name="Check for OpID"/>
        	<choice doc:name="Choice">
                <when expression="#[payload == false]">
                <http:request config-ref="SkyBiometric_HTTP_Request_Configuration" path="/account/users" method="GET" doc:name="Make External Call">
                    <http:request-builder>
                        <http:query-param paramName="api_key" value="4d7e5ff3c02e4eaba58e27a015f03f0c"/>
                        <http:query-param paramName="api_secret" value="34ed96a91c6747909b7eef497d7db2bd"/>
                        <http:query-param paramName="namespaces" value="an_faces"/>
                    </http:request-builder>
                </http:request>
                <objectstore:store config-ref="ObjectStore_Connector" key="opID" value-ref="#[json:operation_id]" doc:name="Store OpID"/>
                </when>
                <otherwise>
                <logger message="Object found in store" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>
        <objectstore:retrieve config-ref="ObjectStore_Connector" key="opID" doc:name="Retrieve OpID"/>
        </processor-chain>
        </enricher> 
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>